In [62]:
import pandas as pd
import numpy as np
import re

# Define ANSI escape codes for bold, red, and reset text
BOLD = '\033[1m'
RED = '\033[31m'
RESET = '\033[0m'

# Function to normalize answers by removing commas, extra spaces, and converting to lowercase
def normalize_text(text):
    return re.sub(r'\s+', ' ', text.replace(',', '')).strip().lower()

# Function to highlight differences
def highlight_differences(correct, user):
    highlighted_correct = []
    highlighted_user = []
    max_len = max(len(correct), len(user))
    
    for i in range(max_len):
        char_correct = correct[i] if i < len(correct) else ''
        char_user = user[i] if i < len(user) else ''
        
        if char_correct != char_user:
            highlighted_correct.append(f"{BOLD}{char_correct}{RESET}")
            highlighted_user.append(f"{RED}{char_user}{RESET}")
        else:
            highlighted_correct.append(char_correct)
            highlighted_user.append(char_user)
    
    return ''.join(highlighted_correct), ''.join(highlighted_user)

def format_sql_query(query):
    keywords = ['SELECT', 'FROM', 'WHERE', 'GROUP BY', 'ORDER BY', 'HAVING', 'JOIN', 'ON', 'INNER JOIN', 'LEFT JOIN', 'RIGHT JOIN', 'FULL JOIN']
    for keyword in keywords:
        query = query.replace(keyword, f'\n{keyword}')
    return query.strip()
    
df = pd.read_csv('SQL LAB - Sheet1.csv')

# Select a random row
random_row = df.sample(1).iloc[0]

# Extract the question, expected output, and answer
question = random_row['Question']
expected_output = random_row['Expected Output']
stored_answer = random_row['Answer (Query)']

# Print the question and expected output
print(f"{BOLD}Question:{RESET}")
print(question)
print(f"{BOLD}Expected Output:{RESET}")
print(expected_output)

normalized_stored_answer = normalize_text(stored_answer)

Question:
52. Book Authors: Retrieve book titles and their authors.
Expected Output:
book_title = "1984", author_name = "George Orwell"

# a = ""

In [65]:
a ="SELECT Books.title, Authors.name FROM Books INNER JOIN Authors ON Books.author_id = Authors.id;"

In [66]:
normalized_user_answer = normalize_text(a)

# Compare and highlight differences
if normalized_user_answer == normalized_stored_answer:
    print("Correct!")
else:
    print("Incorrect")
    print("The correct answer is:")
    highlighted_correct, highlighted_user = highlight_differences(stored_answer, a)
    
    # Print formatted answers
    print(f"{BOLD}Correct Answer:{RESET}\n{format_sql_query(highlighted_correct)}")
    print("")
    print(f"{BOLD}Your Answer:{RESET}\n{format_sql_query(highlighted_user)}")

Correct!